.CreateTodoButton {
  background-color: transparent;
  border: none;
  padding: 0;
  filter: invert(72%) sepia(7%) saturate(1271%) hue-rotate(6deg) brightness(84%) contrast(86%);
  transition: all 0.2s ease-in-out;
}

.CreateTodoButton:hover {
  cursor: pointer;
  filter: invert(23%) sepia(99%) saturate(2753%) hue-rotate(105deg) brightness(97%) contrast(103%);
  transform: scale(1.2);
}
